## Libraries

In [10]:
import pandas as pd
import numpy as np

# preprocessing
from sklearn.model_selection import train_test_split

## Load Data

In [6]:
from src.load_data import load_data

file_path='../data/raw/flight_df (2).csv'

df = load_data(file_path)

# Select specified columns for app
selected_columns = [ 
    'Inflight wifi service',
    'Online boarding',
    'Age',
    'Flight Distance',
    'Baggage handling',
    'Checkin service',
    'Loyal Customer',
    'Seat comfort',
    'Business Travel',
    'Inflight entertainment',
    'satisfied'
]

# Filter the DataFrame to include only the selected columns
df = df[selected_columns]
df.head()

   Inflight wifi service  Online boarding  ...  Inflight entertainment  satisfied
0                      2                2  ...                       2          0
1                      5                4  ...                       4          1
2                      3                3  ...                       3          0
3                      3                4  ...                       3          0
4                      4                4  ...                       4          0

[5 rows x 11 columns]

## Model Validation

In [7]:
#define target
y=df['satisfied']
X=df.drop(columns='satisfied')

In [8]:
# save x new dataset for the app
new_dataset = X.to_csv('../data/transformed/_new_flight_df.csv', index=False)

In [11]:
X_train,  X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Preprocessing and Pipeline

In [12]:
from src.preprocessing_pipeline import create_preprocessing_pipeline

preprocessor = create_preprocessing_pipeline()

## Machine Learning

### Feature importance